
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 42.8rem;
}.jupiter-1-17-gxZ {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #201f1f;
}
.jupiter-1-17-gxZ .auto-group-hxox-dN1 {
  box-sizing: border-box;
  padding: 1.3rem 3.44rem 0.1rem 3.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-hxox-dN1 .iphone-status-bar-ZFf {
  margin: 0rem 0rem 1rem 0.2rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-hxox-dN1 .iphone-status-bar-ZFf .time-HSZ {
  margin-right: 24.5rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.036rem;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-hxox-dN1 .iphone-status-bar-ZFf .reception-17f {
  margin: 0rem 0.585rem 0.1rem 0rem;
  width: 1.815rem;
  height: 1.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-hxox-dN1 .iphone-status-bar-ZFf .wifi-w1K {
  margin: 0rem 0.5rem 0.1rem 0rem;
  width: 1.8rem;
  height: 1.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-hxox-dN1 .iphone-status-bar-ZFf .battery-fT7 {
  margin-bottom: 0.15rem;
  width: 2.6603rem;
  height: 1.25rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-hxox-dN1 .auto-group-wwgq-bbf {
  margin-right: 9.512rem;
  width: calc(100% - 9.512rem);
  height: 4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-hxox-dN1 .auto-group-wwgq-bbf .arrowleftaltfill0wght200grad-25opsz40-9-jC5 {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-hxox-dN1 .auto-group-wwgq-bbf .auto-group-6ofw-Tds {
  box-sizing: border-box;
  padding: 0.6rem 0rem 0.8rem 5rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-hxox-dN1 .auto-group-wwgq-bbf .auto-group-6ofw-Tds .months-ys7 {
  margin-right: 3.6rem;
  width: 12.8rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-hxox-dN1 .auto-group-wwgq-bbf .auto-group-6ofw-Tds .chevron-V4m {
  margin-top: 0.1242rem;
  width: 1.0483rem;
  height: 0.5242rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX {
  margin-bottom: 2.8rem;
  width: 74.3rem;
  height: 55.8rem;
  position: relative;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .card-3-vQy {
  box-sizing: border-box;
  padding: 18.3rem 1.1rem 22.9rem 1rem;
  width: 32.7rem;
  height: 41.3rem;
  position: absolute;
  left: 39rem;
  top: 14.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('.../static/images/combined-shape-xU9.png');
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .card-3-vQy .line-3-qXw {
  width: 30.6rem;
  height: 0.1rem;
  object-fit: contain;
  vertical-align: top;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .bitmap-mRb {
  width: 1.1rem;
  height: 1.1rem;
  position: relative;
  left: 24rem;
  top: 26.3rem;
  background-size: 100% 100%;
  background-image: url('.../static/images/bitmap-AQy.png');
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .space-x-H93 {
  box-sizing: border-box;
  padding: 1.1rem 0.2rem 1.4rem 1rem;
  width: 32.7rem;
  height: 41.3rem;
  position: absolute;
  left: 3.4rem;
  top: 14.5rem;
  overflow: hidden;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('.../static/images/combined-shape-gcy.png');
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .space-x-H93 .oval-yXf {
  margin: 0rem 2.7rem 0.1rem 0rem;
  width: 0.4rem;
  height: 0.4rem;
  background-color: rgba(215, 215, 215, 0.200000003);
  border-radius: 0.2rem;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .space-x-H93 .auto-group-5c33-ted {
  width: 100%;
  height: 38.3rem;
  position: relative;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .space-x-H93 .auto-group-5c33-ted .space-x-omb {
  width: 7.8rem;
  height: 2.9rem;
  position: absolute;
  left: 0.6rem;
  top: 0;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .space-x-H93 .auto-group-5c33-ted .m-XBo {
  width: 5.4rem;
  height: 2.9rem;
  position: absolute;
  left: 12.1rem;
  top: 0;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .space-x-H93 .auto-group-5c33-ted .cape-canaveral-j2y {
  width: 12.9rem;
  height: 2.9rem;
  position: absolute;
  left: 0.6rem;
  top: 18.3rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .space-x-H93 .auto-group-5c33-ted .cape-canaveral-dPF {
  width: 12.9rem;
  height: 2.9rem;
  position: absolute;
  left: 0.6rem;
  top: 33.576rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .space-x-H93 .auto-group-5c33-ted .moon-LHf {
  width: 4.5rem;
  height: 2.9rem;
  position: absolute;
  left: 0.6rem;
  top: 26.9rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .space-x-H93 .auto-group-5c33-ted .bfr-4Df {
  width: 2.2rem;
  height: 1.8rem;
  position: absolute;
  left: 0.6rem;
  top: 2.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .space-x-H93 .auto-group-5c33-ted .wifi-ready-n9f {
  width: 5.3rem;
  height: 1.8rem;
  position: absolute;
  left: 5.5rem;
  top: 6.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .space-x-H93 .auto-group-5c33-ted .zero-gravity-shows-Hs7 {
  width: 10.1rem;
  height: 1.8rem;
  position: absolute;
  left: 5.7rem;
  top: 9.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .space-x-H93 .auto-group-5c33-ted .x-24-kgs-baggage-bcu {
  width: 10.8rem;
  height: 1.8rem;
  position: absolute;
  left: 5.7rem;
  top: 13.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .space-x-H93 .auto-group-5c33-ted .for-1-iBj {
  width: 2.5rem;
  height: 1.8rem;
  position: absolute;
  left: 12.1rem;
  top: 2.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .space-x-H93 .auto-group-5c33-ted .leaves-at-5-30-pm-3E1 {
  width: 9.9rem;
  height: 1.8rem;
  position: absolute;
  left: 0.6rem;
  top: 21.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .space-x-H93 .auto-group-5c33-ted .d-4hr-MVb {
  width: 3.4rem;
  height: 1.8rem;
  position: absolute;
  left: 1.7rem;
  top: 24rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .space-x-H93 .auto-group-5c33-ted .d-4hr-copy-5gV {
  width: 3.4rem;
  height: 1.8rem;
  position: absolute;
  left: 1.7rem;
  top: 30.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .space-x-H93 .auto-group-5c33-ted .d-12hr-1KF {
  width: 4.2rem;
  height: 1.8rem;
  position: absolute;
  left: 7.4rem;
  top: 27.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .space-x-H93 .auto-group-5c33-ted .arrives-at-1-30-am-vh7 {
  width: 9.8rem;
  height: 1.8rem;
  position: absolute;
  left: 0.6rem;
  top: 36.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .space-x-H93 .auto-group-5c33-ted .suitcaseicon-SfT {
  width: 1.9rem;
  height: 1.8rem;
  position: absolute;
  left: 1.4rem;
  top: 13rem;
  object-fit: contain;
  vertical-align: top;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .space-x-H93 .auto-group-5c33-ted .line-3-yfP {
  width: 30.6rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 16.7rem;
  object-fit: contain;
  vertical-align: top;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .space-x-H93 .auto-group-5c33-ted .bfr-house-XS1 {
  width: 5rem;
  height: 38rem;
  position: relative;
  left: 23.6rem;
  top: 0.3rem;
  background-size: 100% 100%;
  background-image: url('.../static/images/bfr-house-m7f.png');
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .space-x-H93 .auto-group-5c33-ted .wifiicon-rDP {
  width: 2.0837rem;
  height: 1.5047rem;
  position: absolute;
  left: 1.0145rem;
  top: 7.0953rem;
  object-fit: contain;
  vertical-align: top;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .space-x-H93 .auto-group-5c33-ted .xero-gravity-icon-C2M {
  width: 2.1rem;
  height: 1.4rem;
  position: absolute;
  left: 1.2rem;
  top: 10.1rem;
  object-fit: contain;
  vertical-align: top;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .space-x-H93 .auto-group-5c33-ted .oval-8Au {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 18.4rem;
  top: 18.5rem;
  background-color: rgba(215, 215, 215, 0.200000003);
  border-radius: 0.2rem;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .space-x-H93 .auto-group-5c33-ted .oval-ef3 {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 22.4rem;
  top: 14.5rem;
  background-color: rgba(215, 215, 215, 0.200000003);
  border-radius: 0.2rem;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .space-x-H93 .auto-group-5c33-ted .oval-Bey {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 19.4rem;
  top: 5.1rem;
  background-color: rgba(215, 215, 215, 0.3199999928);
  border-radius: 0.2rem;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .space-x-H93 .auto-group-5c33-ted .oval-iQ1 {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 9.4rem;
  top: 6.1rem;
  background-color: rgba(215, 215, 215, 0.1000000015);
  border-radius: 0.2rem;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .space-x-H93 .auto-group-5c33-ted .oval-qzR {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 22.3rem;
  top: 27.5rem;
  background-color: rgba(215, 215, 215, 0.1000000015);
  border-radius: 0.2rem;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .space-x-H93 .auto-group-5c33-ted .oval-NDf {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 30.4rem;
  top: 12.5rem;
  background-color: rgba(215, 215, 215, 0.200000003);
  border-radius: 0.2rem;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .space-x-H93 .auto-group-5c33-ted .oval-i2d {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 30.3rem;
  top: 27.5rem;
  background-color: rgba(215, 215, 215, 0.1000000015);
  border-radius: 0.2rem;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .space-x-H93 .auto-group-5c33-ted .oval-qsw {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 27.4rem;
  top: 20.5rem;
  background-color: rgba(215, 215, 215, 0.1000000015);
  border-radius: 0.2rem;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .space-x-H93 .auto-group-5c33-ted .standing-up-man--n2V {
  width: 0.1886rem;
  height: 0.4461rem;
  position: absolute;
  left: 29.3038rem;
  top: 37.6rem;
  object-fit: contain;
  vertical-align: top;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .space-x-H93 .auto-group-5c33-ted .you-74m {
  width: 2.1rem;
  height: 2.1rem;
  position: absolute;
  left: 29.4rem;
  top: 32.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .space-x-H93 .auto-group-5c33-ted .path-3-pzm {
  width: 0.8356rem;
  height: 2.2301rem;
  position: absolute;
  left: 29.8736rem;
  top: 35.2898rem;
  object-fit: contain;
  vertical-align: top;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .space-x-H93 .auto-group-5c33-ted .path-4-NWV {
  width: 0.2012rem;
  height: 0.2078rem;
  position: absolute;
  left: 29.8546rem;
  top: 37.3221rem;
  object-fit: contain;
  vertical-align: top;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .space-x-H93 .auto-group-5c33-ted .line-5-KAq {
  width: 0.1rem;
  height: 2.2rem;
  position: absolute;
  left: 0.9rem;
  top: 23.9rem;
  object-fit: contain;
  vertical-align: top;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .space-x-H93 .auto-group-5c33-ted .line-4-dhK {
  width: 0.2rem;
  height: 2.1289rem;
  position: absolute;
  left: 0.9rem;
  top: 30.6rem;
  object-fit: contain;
  vertical-align: top;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .oval-Lrd {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 5.8rem;
  top: 7.2rem;
  background-color: rgba(215, 215, 215, 0.1000000015);
  border-radius: 0.2rem;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .dates-UC9 {
  width: 40rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .dates-UC9 .auto-group-4sww-CP3 {
  box-sizing: border-box;
  padding: 0.9rem 1.067rem 0.9rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .dates-UC9 .auto-group-4sww-CP3 .item-12-7W1 {
  margin-right: 2.1333rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .dates-UC9 .auto-group-4sww-CP3 .item-13-SHP {
  margin: 0.1rem 2.333rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .dates-UC9 .auto-group-4sww-CP3 .item-14-Mv9 {
  margin: 0.1rem 2.333rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .dates-UC9 .auto-group-4sww-CP3 .item-15-hDK {
  margin: 0.1rem 2.333rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .dates-UC9 .auto-group-4sww-CP3 .item-16-qKX {
  margin-top: 0.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .dates-UC9 .auto-group-2z7t-ygd {
  margin-right: 1.1rem;
  width: 4.4rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1000000015);
  border-radius: 2.2rem;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .dates-UC9 .item-18-UNV {
  margin: 0.1rem 2.333rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .dates-UC9 .item-19-DL5 {
  margin: 0.1rem 2.333rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .dates-UC9 .item-20-9jX {
  margin: 0.3rem 2.333rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .dates-UC9 .item-21-Umo {
  margin-top: 0.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .days-22d {
  width: 34.7rem;
  height: 2.3rem;
  position: absolute;
  left: 2.3rem;
  top: 1.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .days-22d .t-jxd {
  margin-right: 3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .days-22d .w-GxZ {
  margin-right: 3.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .days-22d .t-2B3 {
  margin-right: 3.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .days-22d .f-NEu {
  margin-right: 3.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .days-22d .s-ukd {
  margin-right: 3.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .days-22d .s-TGM {
  margin-right: 2.9rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .days-22d .m-copy-5-12y {
  margin-right: 3.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .days-22d .t-Yob {
  margin-right: 3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .days-22d .w-6q7 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .bitmap-erd {
  width: 1.1rem;
  height: 1.1rem;
  position: relative;
  left: 19.4rem;
  top: 10.2rem;
  background-size: 100% 100%;
  background-image: url('.../static/images/bitmap-769.png');
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .line-2-Aa5 {
  width: 42.7rem;
  height: 0.3rem;
  position: absolute;
  left: 0.9rem;
  top: 12.1rem;
  object-fit: contain;
  vertical-align: top;
}
.jupiter-1-17-gxZ .auto-group-55tm-QhX .pngwing-8-unZ {
  width: 22.8rem;
  height: 22.8rem;
  position: absolute;
  left: 31.3rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.jupiter-1-17-gxZ .oval-selector-qw7 {
  margin-bottom: 7.2rem;
  width: 4rem;
  height: 0.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-kp37-b9b {
  margin: 0rem 3.4rem 1.2rem 3.5rem;
  box-sizing: border-box;
  padding: 1.6rem 1.249rem 1.6rem 1.6rem;
  width: calc(100% - 6.9rem);
  display: flex;
  align-items: center;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1000000015);
  background: linear-gradient(180deg, #ffffff 0%, #e6e6e6 100%);
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-kp37-b9b .select-spaceship-J41 {
  margin-right: 18.2488rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.275;
  color: #171717;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-kp37-b9b .chevron-cqP {
  margin-top: 0.0004rem;
  width: 0.5025rem;
  height: 1.0012rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-xgnu-tH7 {
  box-sizing: border-box;
  padding: 3rem 4.254rem 1.2rem 4.3rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 -0.7rem 1.5rem rgba(0, 0, 0, 0.25);
  background-color: #000000;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-xgnu-tH7 .group-609-QFT {
  margin-bottom: 3.5686rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-xgnu-tH7 .group-609-QFT .vector-MAh {
  margin-right: 11.8rem;
  width: 2.7443rem;
  height: 2.7314rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-xgnu-tH7 .group-609-QFT .vector-tgR {
  margin-right: 13rem;
  width: 4.1672rem;
  height: 2.7314rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-xgnu-tH7 .group-609-QFT .group-585-33X {
  width: 2.5344rem;
  height: 2.7314rem;
  cursor: pointer;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.jupiter-1-17-gxZ .auto-group-xgnu-tH7 .line-1-aJM {
  margin-right: 0.0458rem;
  width: 15.4rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
