*{
    margin: 0;
    padding: 0;
    background: #000;
}
.nav{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 1);
    background-color: black;
    overflow-x: auto;
    position: fixed;
    display: flex;
    
}
.nav_link{
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
}