
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 42.8rem;
}.moon-weather-KXX {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #201f1f;
}
.moon-weather-KXX .auto-group-j5jf-Ttd {
  box-sizing: border-box;
  padding: 1.3rem 2.7rem 1.5rem 2.6rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .iphone-status-bar-Bpd {
  margin: 0rem 0.74rem 3.5rem 1rem;
  width: calc(100% - 1.7397rem);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .iphone-status-bar-Bpd .time-6gh {
  margin-right: 24.5rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.036rem;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .iphone-status-bar-Bpd .reception-Cjj {
  margin: 0rem 0.585rem 0.1rem 0rem;
  width: 1.815rem;
  height: 1.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .iphone-status-bar-Bpd .wifi-vQq {
  margin: 0rem 0.5rem 0.1rem 0rem;
  width: 1.8rem;
  height: 1.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .iphone-status-bar-Bpd .battery-Fxu {
  margin-bottom: 0.15rem;
  width: 2.6603rem;
  height: 1.25rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .frame-15-PZK {
  margin: 0rem 0.1rem 6.3rem 0.2rem;
  box-sizing: border-box;
  padding-left: 2.3rem;
  width: calc(100% - 0.3rem);
  height: 30.1rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(202, 225, 228, 0.3700000048);
  border-radius: 2rem;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .frame-15-PZK .auto-group-exay-tW5 {
  margin-bottom: 2.1rem;
  width: 62.6rem;
  height: 52.9rem;
  position: relative;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .frame-15-PZK .auto-group-exay-tW5 .bitmap-copy-3-2MP {
  width: 52.9rem;
  height: 52.9rem;
  position: relative;
  left: 9.7rem;
  top: 0;
  background-size: 100% 100%;
  background-image: url('.../static/images/bitmap-copy-3-A2d.png');
}
.moon-weather-KXX .auto-group-j5jf-Ttd .frame-15-PZK .auto-group-exay-tW5 .cloudy-jWh {
  width: 5.5rem;
  height: 2.8rem;
  position: absolute;
  left: 27.3rem;
  top: 31.3rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2727272727;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .frame-15-PZK .auto-group-exay-tW5 .cloud-and-sun-1-SR7 {
  width: 8.025rem;
  height: 10.7rem;
  position: absolute;
  left: 27.1375rem;
  top: 19.2rem;
  object-fit: contain;
  vertical-align: top;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .frame-15-PZK .auto-group-exay-tW5 .feels-like-2-Zkd {
  width: 9.4rem;
  height: 2.4rem;
  position: absolute;
  left: 7.7rem;
  top: 32.3rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .frame-15-PZK .auto-group-exay-tW5 .kharkiv-ukraine-qi9 {
  width: 13.5rem;
  height: 2.8rem;
  position: absolute;
  left: 0;
  top: 12.4rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2727272727;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .frame-15-PZK .auto-group-exay-tW5 .search-Z8M {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 34.1rem;
  top: 12.8rem;
  object-fit: contain;
  vertical-align: top;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .frame-15-PZK .auto-group-exay-tW5 .vector-tgR {
  width: 2.4521rem;
  height: 1.7559rem;
  position: absolute;
  left: 0;
  top: 10.6rem;
  object-fit: contain;
  vertical-align: top;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .frame-15-PZK .auto-group-exay-tW5 .item-3-2Xj {
  width: 10.5rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 23.2rem;
  display: flex;
  font-size: 11.2rem;
  font-weight: 400;
  line-height: 0.5714285714;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .frame-15-PZK .auto-group-coop-ivM {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .frame-15-PZK .auto-group-coop-ivM .january-18-16-14-5W1 {
  margin: 0.8rem 13rem 0rem 0rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5555555556;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .frame-15-PZK .auto-group-coop-ivM .day-3-night-1-nfK {
  text-align: right;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-598-GKb {
  margin: 0rem 0.1rem 1.8rem 0.2rem;
  width: calc(100% - 0.3rem);
  height: 4.2rem;
  display: flex;
  column-gap: 1.2rem;
  align-items: center;
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-598-GKb .auto-group-oug1-BSZ {
  width: 11.6rem;
  height: 100%;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #5f6768;
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-598-GKb .auto-group-m22d-eb3 {
  width: 11.6rem;
  height: 100%;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(202, 225, 228, 0.3700000048);
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-598-GKb .auto-group-3nmp-Xuj {
  width: 11.6rem;
  height: 100%;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(202, 225, 228, 0.3700000048);
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-600-QTj {
  margin: 0rem 0.2rem 1.8rem 0rem;
  width: calc(100% - 0.2rem);
  height: 6.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-600-QTj .auto-group-xmpx-8uX {
  margin-right: 0.9rem;
  box-sizing: border-box;
  padding: 0.5rem 2.4rem 0.5rem 0.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #5f6768;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-600-QTj .auto-group-xmpx-8uX .group-14-42V {
  margin: 0rem 0.691rem 1.261rem 0rem;
  width: 2.9087rem;
  height: 4.2391rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-600-QTj .auto-group-xmpx-8uX .auto-group-sh2h-Nos {
  margin: 0.6rem 1.7rem 0.7rem 0rem;
  width: 6.4rem;
  height: calc(100% - 1.3rem);
  position: relative;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-600-QTj .auto-group-xmpx-8uX .auto-group-sh2h-Nos .subhead-6zm {
  width: 6.4rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  letter-spacing: 0.025rem;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-600-QTj .auto-group-xmpx-8uX .auto-group-sh2h-Nos .header-pQy {
  width: 5rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 1.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-600-QTj .auto-group-xmpx-8uX .km-h-vyo {
  margin-top: 1.1rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.4545454545;
  letter-spacing: 0.05rem;
  color: #fffbfb;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-600-QTj .auto-group-6bdt-cbj {
  box-sizing: border-box;
  padding: 1.1rem 2.2rem 1.1rem 0.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(202, 225, 228, 0.3700000048);
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-600-QTj .auto-group-6bdt-cbj .group-17-jwF {
  margin: 0.007rem 0.991rem 0rem 0rem;
  width: 2.9087rem;
  height: 2.9066rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-600-QTj .auto-group-6bdt-cbj .group-11-sGm {
  margin-right: 2.4rem;
  width: 6.8rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-600-QTj .auto-group-6bdt-cbj .group-11-sGm .header-pC1 {
  width: 2.8rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 1.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-600-QTj .auto-group-6bdt-cbj .group-11-sGm .subhead-tBs {
  width: 6.8rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  letter-spacing: 0.025rem;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-600-QTj .auto-group-6bdt-cbj .item-10-Bwf {
  margin-top: 1.1rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.4545454545;
  letter-spacing: 0.05rem;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-601-Hzh {
  margin: 0rem 0.4rem 1.8rem 0rem;
  width: calc(100% - 0.4rem);
  height: 6.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-601-Hzh .auto-group-h4ft-pjj {
  margin-right: 0.7rem;
  box-sizing: border-box;
  padding: 1.3rem 2.6rem 1rem 0.7rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #5f6768;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-601-Hzh .auto-group-h4ft-pjj .group-28-x5F {
  margin: 0rem 0.691rem 0.493rem 0rem;
  width: 2.9087rem;
  height: 2.9066rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-601-Hzh .auto-group-h4ft-pjj .auto-group-sn5f-5vZ {
  margin-right: 3rem;
  width: 5.1rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-601-Hzh .auto-group-h4ft-pjj .auto-group-sn5f-5vZ .subhead-RzR {
  width: 5rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  letter-spacing: 0.025rem;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-601-Hzh .auto-group-h4ft-pjj .auto-group-sn5f-5vZ .header-MNH {
  width: 5.1rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 1.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-601-Hzh .auto-group-h4ft-pjj .hpa-TgD {
  margin-top: 0.2rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.4545454545;
  letter-spacing: 0.05rem;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-601-Hzh .auto-group-bho7-mB7 {
  box-sizing: border-box;
  padding: 1.3rem 2.7rem 1rem 0.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(202, 225, 228, 0.3700000048);
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-601-Hzh .auto-group-bho7-mB7 .group-15-JB3 {
  margin: 0rem 0.991rem 0.493rem 0rem;
  width: 2.9087rem;
  height: 2.9066rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-601-Hzh .auto-group-bho7-mB7 .auto-group-wpo3-RmT {
  margin-right: 4.4rem;
  width: 4.8rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-601-Hzh .auto-group-bho7-mB7 .auto-group-wpo3-RmT .subhead-aeM {
  width: 4.8rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  letter-spacing: 0.025rem;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-601-Hzh .auto-group-bho7-mB7 .auto-group-wpo3-RmT .header-78V {
  width: 2rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 1.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.015rem;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-601-Hzh .auto-group-bho7-mB7 .item-03-DxD {
  margin-top: 0.2rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.4545454545;
  letter-spacing: 0.05rem;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-27-83b {
  width: 100%;
  height: 15rem;
  border-radius: 1.8rem;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-27-83b .group-18-gqo {
  width: 100%;
  height: 100%;
  position: relative;
  backdrop-filter: blur(0.2rem);
  background-color: rgba(202, 225, 228, 0.3899999857);
  border-radius: 1.8rem;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-27-83b .group-18-gqo .group-9-dW9 {
  width: 34.1342rem;
  height: 8.0385rem;
  position: absolute;
  left: 1.6rem;
  top: 1.7rem;
  display: flex;
  align-items: center;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-27-83b .group-18-gqo .group-9-dW9 .group-3-kKs {
  margin-right: 3.1743rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-27-83b .group-18-gqo .group-9-dW9 .group-3-kKs .now-uCm {
  margin-bottom: 4.2385rem;
  display: flex;
  font-size: 1.3157rem;
  font-weight: 400;
  line-height: 1.4285714079;
  letter-spacing: 0.0132rem;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-27-83b .group-18-gqo .group-9-dW9 .group-3-kKs .item-10-RS1 {
  margin-left: 0.1342rem;
  display: flex;
  font-size: 1.8795rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.0188rem;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-27-83b .group-18-gqo .group-9-dW9 .group-4-Xzq {
  margin-right: 3.8903rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-27-83b .group-18-gqo .group-9-dW9 .group-4-Xzq .am-VAy {
  margin-bottom: 4.2385rem;
  display: flex;
  font-size: 1.3157rem;
  font-weight: 400;
  line-height: 1.4285714079;
  letter-spacing: 0.0132rem;
  color: #ffffff;
  /* font-family: ?????, 'Source Sans Pro'; */
  white-space: nowrap;
  align-items: baseline;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-27-83b .group-18-gqo .group-9-dW9 .group-4-Xzq .am-VAy .am-VAy-sub-0 {
  font-size: 1.3157rem;
  font-weight: 400;
  line-height: 1.4285714079;
  letter-spacing: 0.0132rem;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-27-83b .group-18-gqo .group-9-dW9 .group-4-Xzq .am-VAy .am-VAy-sub-1 {
  font-size: 0.9398rem;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.0132rem;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-27-83b .group-18-gqo .group-9-dW9 .group-4-Xzq .item-8-s53 {
  margin-right: 0.1743rem;
  display: flex;
  font-size: 1.8795rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.0188rem;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-27-83b .group-18-gqo .group-9-dW9 .group-5-yds {
  margin: 0rem 3.702rem 0.038rem 0rem;
  height: calc(100% - 0.0385rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-27-83b .group-18-gqo .group-9-dW9 .group-5-yds .am-7EH {
  margin-bottom: 4.2rem;
  display: flex;
  font-size: 1.3157rem;
  font-weight: 400;
  line-height: 1.4285714079;
  letter-spacing: 0.0132rem;
  color: #ffffff;
  /* font-family: ?????, 'Source Sans Pro'; */
  white-space: nowrap;
  align-items: baseline;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-27-83b .group-18-gqo .group-9-dW9 .group-5-yds .am-7EH .am-7EH-sub-0 {
  font-size: 1.3157rem;
  font-weight: 400;
  line-height: 1.4285714079;
  letter-spacing: 0.0132rem;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-27-83b .group-18-gqo .group-9-dW9 .group-5-yds .am-7EH .am-7EH-sub-1 {
  font-size: 0.9398rem;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.0132rem;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-27-83b .group-18-gqo .group-9-dW9 .group-5-yds .item-5-cqF {
  margin-left: 0.1707rem;
  display: flex;
  font-size: 1.8795rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.0188rem;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-27-83b .group-18-gqo .group-9-dW9 .group-6-LWM {
  margin-right: 3.6454rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-27-83b .group-18-gqo .group-9-dW9 .group-6-LWM .pm-gq7 {
  margin-bottom: 4.2385rem;
  display: flex;
  font-size: 1.3157rem;
  font-weight: 400;
  line-height: 1.4285714079;
  letter-spacing: 0.0132rem;
  color: #ffffff;
  /* font-family: ?????, 'Source Sans Pro'; */
  white-space: nowrap;
  align-items: baseline;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-27-83b .group-18-gqo .group-9-dW9 .group-6-LWM .pm-gq7 .pm-gq7-sub-0 {
  font-size: 1.3157rem;
  font-weight: 400;
  line-height: 1.4285714079;
  letter-spacing: 0.0132rem;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-27-83b .group-18-gqo .group-9-dW9 .group-6-LWM .pm-gq7 .pm-gq7-sub-1 {
  font-size: 0.9398rem;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.0132rem;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-27-83b .group-18-gqo .group-9-dW9 .group-6-LWM .item-12-DiZ {
  margin-left: 0.133rem;
  display: flex;
  font-size: 1.8795rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.0188rem;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-27-83b .group-18-gqo .group-9-dW9 .group-7-Xz9 {
  margin-right: 4.1546rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-27-83b .group-18-gqo .group-9-dW9 .group-7-Xz9 .pm-HyK {
  margin-bottom: 4.2385rem;
  display: flex;
  font-size: 1.3157rem;
  font-weight: 400;
  line-height: 1.4285714079;
  letter-spacing: 0.0132rem;
  color: #ffffff;
  /* font-family: ?????, 'Source Sans Pro'; */
  white-space: nowrap;
  align-items: baseline;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-27-83b .group-18-gqo .group-9-dW9 .group-7-Xz9 .pm-HyK .pm-HyK-sub-0 {
  font-size: 1.3157rem;
  font-weight: 400;
  line-height: 1.4285714079;
  letter-spacing: 0.0132rem;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-27-83b .group-18-gqo .group-9-dW9 .group-7-Xz9 .pm-HyK .pm-HyK-sub-1 {
  font-size: 0.9398rem;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.0132rem;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-27-83b .group-18-gqo .group-9-dW9 .group-7-Xz9 .item-9-Ciu {
  margin-left: 0.0093rem;
  display: flex;
  font-size: 1.8795rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.0188rem;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-27-83b .group-18-gqo .group-9-dW9 .group-23-vuo {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-27-83b .group-18-gqo .group-9-dW9 .group-23-vuo .pm-J1F {
  margin: 0rem 0rem 4.238rem 0.054rem;
  display: flex;
  font-size: 1.3157rem;
  font-weight: 400;
  line-height: 1.4285714079;
  letter-spacing: 0.0132rem;
  color: #ffffff;
  /* font-family: ?????, 'Source Sans Pro'; */
  white-space: nowrap;
  align-items: baseline;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-27-83b .group-18-gqo .group-9-dW9 .group-23-vuo .pm-J1F .pm-J1F-sub-0 {
  font-size: 1.3157rem;
  font-weight: 400;
  line-height: 1.4285714079;
  letter-spacing: 0.0132rem;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-27-83b .group-18-gqo .group-9-dW9 .group-23-vuo .pm-J1F .pm-J1F-sub-1 {
  font-size: 0.9398rem;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.0132rem;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-27-83b .group-18-gqo .group-9-dW9 .group-23-vuo .item-12-pNu {
  display: flex;
  font-size: 1.8795rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.0188rem;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-27-83b .group-18-gqo .group-599-Ls3 {
  width: 34.1rem;
  height: 3.5219rem;
  position: absolute;
  left: 1.2rem;
  top: 3.8rem;
  display: flex;
  align-items: center;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-27-83b .group-18-gqo .group-599-Ls3 .group-f8d {
  margin: 0.2rem 3.407rem 0rem 0rem;
  width: 2.4932rem;
  height: 3.3219rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-27-83b .group-18-gqo .group-599-Ls3 .cloud-nU9 {
  margin: 0rem 3.1rem 0.122rem 0rem;
  width: 3.2rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-27-83b .group-18-gqo .group-599-Ls3 .cloud-v4Z {
  margin: 0rem 3.1rem 0.122rem 0rem;
  width: 3.2rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-27-83b .group-18-gqo .group-599-Ls3 .group-Sob {
  margin: 0rem 3.607rem 0.2rem 0rem;
  width: 2.4932rem;
  height: 3.3219rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-27-83b .group-18-gqo .group-599-Ls3 .group-a97 {
  margin: 0.2rem 3.807rem 0rem 0rem;
  width: 2.4932rem;
  height: 3.3219rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-j5jf-Ttd .group-27-83b .group-18-gqo .group-599-Ls3 .cloud-793 {
  margin-bottom: 0.1219rem;
  width: 3.2rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-53y5-ba1 {
  box-sizing: border-box;
  padding: 3rem 4.454rem 1.2rem 4.1rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 -0.7rem 1.5rem rgba(0, 0, 0, 0.25);
  background-color: #000000;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-53y5-ba1 .group-603-JzD {
  margin-bottom: 3.5686rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-53y5-ba1 .group-603-JzD .vector-TcD {
  margin-right: 11.8rem;
  width: 2.7442rem;
  height: 2.7314rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-53y5-ba1 .group-603-JzD .vector-CZo {
  margin-right: 13rem;
  width: 4.1672rem;
  height: 2.7314rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-53y5-ba1 .group-603-JzD .group-585-8yF {
  width: 2.5344rem;
  height: 2.7314rem;
  cursor: pointer;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.moon-weather-KXX .auto-group-53y5-ba1 .line-3-HLM {
  margin-left: 0.3542rem;
  width: 15.4rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
