
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 42.8rem;
}.moon-1-15-yfP {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #201f1f;
}
.moon-1-15-yfP .auto-group-sged-Vtd {
  box-sizing: border-box;
  padding: 1.3rem 3.44rem 0.1rem 3.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-sged-Vtd .iphone-status-bar-cTT {
  margin: 0rem 0rem 1rem 0.2rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-sged-Vtd .iphone-status-bar-cTT .time-Y6D {
  margin-right: 24.5rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.036rem;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-sged-Vtd .iphone-status-bar-cTT .reception-SSV {
  margin: 0rem 0.585rem 0.1rem 0rem;
  width: 1.815rem;
  height: 1.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-sged-Vtd .iphone-status-bar-cTT .wifi-ANV {
  margin: 0rem 0.5rem 0.1rem 0rem;
  width: 1.8rem;
  height: 1.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-sged-Vtd .iphone-status-bar-cTT .battery-hdK {
  margin-bottom: 0.15rem;
  width: 2.6603rem;
  height: 1.25rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-sged-Vtd .auto-group-deg9-SL1 {
  margin-right: 9.512rem;
  width: calc(100% - 9.512rem);
  height: 4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-sged-Vtd .auto-group-deg9-SL1 .arrowleftaltfill0wght200grad-25opsz40-8-Mhs {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-sged-Vtd .auto-group-deg9-SL1 .auto-group-bwqm-gVF {
  box-sizing: border-box;
  padding: 0.6rem 0rem 0.8rem 5rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-sged-Vtd .auto-group-deg9-SL1 .auto-group-bwqm-gVF .months-cth {
  margin-right: 3.6rem;
  width: 12.8rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-sged-Vtd .auto-group-deg9-SL1 .auto-group-bwqm-gVF .chevron-KHK {
  margin-top: 0.1241rem;
  width: 1.0483rem;
  height: 0.5241rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-dpj3-eKb {
  margin-bottom: 2.8rem;
  width: 74.3rem;
  height: 55.8rem;
  position: relative;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .card-3-Mzh {
  box-sizing: border-box;
  padding: 18.3rem 1.1rem 22.9rem 1rem;
  width: 32.7rem;
  height: 41.3rem;
  position: absolute;
  left: 39rem;
  top: 14.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('.../static/images/combined-shape.png');
}
.moon-1-15-yfP .auto-group-dpj3-eKb .card-3-Mzh .line-3-4u7 {
  width: 30.6rem;
  height: 0.1rem;
  object-fit: contain;
  vertical-align: top;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .bitmap-zXs {
  width: 1.1rem;
  height: 1.1rem;
  position: relative;
  left: 24rem;
  top: 26.3rem;
  background-size: 100% 100%;
  background-image: url('.../static/images/bitmap.png');
}
.moon-1-15-yfP .auto-group-dpj3-eKb .space-x-657 {
  box-sizing: border-box;
  padding: 1.1rem 0.2rem 1.4rem 1rem;
  width: 32.7rem;
  height: 41.3rem;
  position: absolute;
  left: 3.4rem;
  top: 14.5rem;
  overflow: hidden;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('.../static/images/combined-shape-FrH.png');
}
.moon-1-15-yfP .auto-group-dpj3-eKb .space-x-657 .oval-BcM {
  margin: 0rem 2.7rem 0.1rem 0rem;
  width: 0.4rem;
  height: 0.4rem;
  background-color: rgba(215, 215, 215, 0.200000003);
  border-radius: 0.2rem;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .space-x-657 .auto-group-xizm-6DX {
  width: 100%;
  height: 38.3rem;
  position: relative;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .space-x-657 .auto-group-xizm-6DX .space-x-o7w {
  width: 7.8rem;
  height: 2.9rem;
  position: absolute;
  left: 0.6rem;
  top: 0;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .space-x-657 .auto-group-xizm-6DX .m-W2M {
  width: 5.4rem;
  height: 2.9rem;
  position: absolute;
  left: 12.1rem;
  top: 0;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .space-x-657 .auto-group-xizm-6DX .cape-canaveral-2Fb {
  width: 12.9rem;
  height: 2.9rem;
  position: absolute;
  left: 0.6rem;
  top: 18.3rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .space-x-657 .auto-group-xizm-6DX .cape-canaveral-jfo {
  width: 12.9rem;
  height: 2.9rem;
  position: absolute;
  left: 0.6rem;
  top: 33.576rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .space-x-657 .auto-group-xizm-6DX .moon-Fu3 {
  width: 4.5rem;
  height: 2.9rem;
  position: absolute;
  left: 0.6rem;
  top: 26.9rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .space-x-657 .auto-group-xizm-6DX .bfr-BXo {
  width: 2.2rem;
  height: 1.8rem;
  position: absolute;
  left: 0.6rem;
  top: 2.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .space-x-657 .auto-group-xizm-6DX .wifi-ready-JsK {
  width: 5.3rem;
  height: 1.8rem;
  position: absolute;
  left: 5.5rem;
  top: 6.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .space-x-657 .auto-group-xizm-6DX .zero-gravity-shows-dPo {
  width: 10.1rem;
  height: 1.8rem;
  position: absolute;
  left: 5.7rem;
  top: 9.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .space-x-657 .auto-group-xizm-6DX .x-24-kgs-baggage-97F {
  width: 10.8rem;
  height: 1.8rem;
  position: absolute;
  left: 5.7rem;
  top: 13.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .space-x-657 .auto-group-xizm-6DX .for-1-s3F {
  width: 2.5rem;
  height: 1.8rem;
  position: absolute;
  left: 12.1rem;
  top: 2.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .space-x-657 .auto-group-xizm-6DX .leaves-at-5-30-pm-C5X {
  width: 9.9rem;
  height: 1.8rem;
  position: absolute;
  left: 0.6rem;
  top: 21.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .space-x-657 .auto-group-xizm-6DX .d-4hr-JeM {
  width: 3.4rem;
  height: 1.8rem;
  position: absolute;
  left: 1.7rem;
  top: 24rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .space-x-657 .auto-group-xizm-6DX .d-4hr-copy-dAq {
  width: 3.4rem;
  height: 1.8rem;
  position: absolute;
  left: 1.7rem;
  top: 30.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .space-x-657 .auto-group-xizm-6DX .d-12hr-Y2u {
  width: 4.2rem;
  height: 1.8rem;
  position: absolute;
  left: 7.4rem;
  top: 27.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .space-x-657 .auto-group-xizm-6DX .arrives-at-1-30-am-TQm {
  width: 9.8rem;
  height: 1.8rem;
  position: absolute;
  left: 0.6rem;
  top: 36.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .space-x-657 .auto-group-xizm-6DX .suitcaseicon-kuf {
  width: 1.9rem;
  height: 1.8rem;
  position: absolute;
  left: 1.4rem;
  top: 13rem;
  object-fit: contain;
  vertical-align: top;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .space-x-657 .auto-group-xizm-6DX .line-3-FbX {
  width: 30.6rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 16.7rem;
  object-fit: contain;
  vertical-align: top;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .space-x-657 .auto-group-xizm-6DX .bfr-house-n5f {
  width: 5rem;
  height: 38rem;
  position: relative;
  left: 23.6rem;
  top: 0.3rem;
  background-size: 100% 100%;
  background-image: url('.../static/images/bfr-house.png');
}
.moon-1-15-yfP .auto-group-dpj3-eKb .space-x-657 .auto-group-xizm-6DX .wifiicon-HHK {
  width: 2.0837rem;
  height: 1.5047rem;
  position: absolute;
  left: 1.0145rem;
  top: 7.0953rem;
  object-fit: contain;
  vertical-align: top;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .space-x-657 .auto-group-xizm-6DX .xero-gravity-icon-cqP {
  width: 2.1rem;
  height: 1.4rem;
  position: absolute;
  left: 1.2rem;
  top: 10.1rem;
  object-fit: contain;
  vertical-align: top;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .space-x-657 .auto-group-xizm-6DX .oval-Yyw {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 18.4rem;
  top: 18.5rem;
  background-color: rgba(215, 215, 215, 0.200000003);
  border-radius: 0.2rem;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .space-x-657 .auto-group-xizm-6DX .oval-HRj {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 22.4rem;
  top: 14.5rem;
  background-color: rgba(215, 215, 215, 0.200000003);
  border-radius: 0.2rem;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .space-x-657 .auto-group-xizm-6DX .oval-pRf {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 19.4rem;
  top: 5.1rem;
  background-color: rgba(215, 215, 215, 0.3199999928);
  border-radius: 0.2rem;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .space-x-657 .auto-group-xizm-6DX .oval-9D3 {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 9.4rem;
  top: 6.1rem;
  background-color: rgba(215, 215, 215, 0.1000000015);
  border-radius: 0.2rem;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .space-x-657 .auto-group-xizm-6DX .oval-H4M {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 22.3rem;
  top: 27.5rem;
  background-color: rgba(215, 215, 215, 0.1000000015);
  border-radius: 0.2rem;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .space-x-657 .auto-group-xizm-6DX .oval-ooP {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 30.4rem;
  top: 12.5rem;
  background-color: rgba(215, 215, 215, 0.200000003);
  border-radius: 0.2rem;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .space-x-657 .auto-group-xizm-6DX .oval-YW5 {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 30.3rem;
  top: 27.5rem;
  background-color: rgba(215, 215, 215, 0.1000000015);
  border-radius: 0.2rem;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .space-x-657 .auto-group-xizm-6DX .oval-Ued {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 27.4rem;
  top: 20.5rem;
  background-color: rgba(215, 215, 215, 0.1000000015);
  border-radius: 0.2rem;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .space-x-657 .auto-group-xizm-6DX .standing-up-man--R45 {
  width: 0.1886rem;
  height: 0.4461rem;
  position: absolute;
  left: 29.3038rem;
  top: 37.6rem;
  object-fit: contain;
  vertical-align: top;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .space-x-657 .auto-group-xizm-6DX .you-YuP {
  width: 2.1rem;
  height: 2.1rem;
  position: absolute;
  left: 29.4rem;
  top: 32.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .space-x-657 .auto-group-xizm-6DX .path-3-fUD {
  width: 0.8356rem;
  height: 2.2301rem;
  position: absolute;
  left: 29.8736rem;
  top: 35.2898rem;
  object-fit: contain;
  vertical-align: top;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .space-x-657 .auto-group-xizm-6DX .path-4-cPT {
  width: 0.2012rem;
  height: 0.2078rem;
  position: absolute;
  left: 29.8546rem;
  top: 37.3221rem;
  object-fit: contain;
  vertical-align: top;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .space-x-657 .auto-group-xizm-6DX .line-5-ZJh {
  width: 0.1rem;
  height: 2.2rem;
  position: absolute;
  left: 0.9rem;
  top: 23.9rem;
  object-fit: contain;
  vertical-align: top;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .space-x-657 .auto-group-xizm-6DX .line-4-Gyo {
  width: 0.2rem;
  height: 2.1289rem;
  position: absolute;
  left: 0.9rem;
  top: 30.6rem;
  object-fit: contain;
  vertical-align: top;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .oval-azV {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 5.8rem;
  top: 7.2rem;
  background-color: rgba(215, 215, 215, 0.1000000015);
  border-radius: 0.2rem;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .dates-WNM {
  width: 40rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .dates-WNM .auto-group-3dpd-ptq {
  box-sizing: border-box;
  padding: 0.9rem 1.067rem 0.9rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .dates-WNM .auto-group-3dpd-ptq .item-12-kGh {
  margin-right: 2.1333rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .dates-WNM .auto-group-3dpd-ptq .item-13-ss7 {
  margin: 0.1rem 2.333rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .dates-WNM .auto-group-3dpd-ptq .item-14-oVs {
  margin: 0.1rem 2.333rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .dates-WNM .auto-group-3dpd-ptq .item-15-8o3 {
  margin: 0.1rem 2.333rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .dates-WNM .auto-group-3dpd-ptq .item-16-sVj {
  margin-top: 0.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .dates-WNM .auto-group-n8st-cTK {
  margin-right: 1.1rem;
  width: 4.4rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1000000015);
  border-radius: 2.2rem;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .dates-WNM .item-18-Vn1 {
  margin: 0.1rem 2.333rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .dates-WNM .item-19-Ejb {
  margin: 0.1rem 2.333rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .dates-WNM .item-20-MpD {
  margin: 0.3rem 2.333rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .dates-WNM .item-21-tp9 {
  margin-top: 0.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .days-1tm {
  width: 34.7rem;
  height: 2.3rem;
  position: absolute;
  left: 2.3rem;
  top: 1.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .days-1tm .t-8yP {
  margin-right: 3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .days-1tm .w-tBs {
  margin-right: 3.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .days-1tm .t-2os {
  margin-right: 3.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .days-1tm .f-P8d {
  margin-right: 3.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .days-1tm .s-jCV {
  margin-right: 3.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .days-1tm .s-Ufs {
  margin-right: 2.9rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .days-1tm .m-copy-5-2xH {
  margin-right: 3.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .days-1tm .t-nRf {
  margin-right: 3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .days-1tm .w-YQq {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.275;
  color: #ffffff;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .bitmap-Vay {
  width: 1.1rem;
  height: 1.1rem;
  position: relative;
  left: 19.4rem;
  top: 10.2rem;
  background-size: 100% 100%;
  background-image: url('.../static/images/bitmap-YZ7.png');
}
.moon-1-15-yfP .auto-group-dpj3-eKb .line-2-D1B {
  width: 42.7rem;
  height: 0.3rem;
  position: absolute;
  left: 0.9rem;
  top: 12.1rem;
  object-fit: contain;
  vertical-align: top;
}
.moon-1-15-yfP .auto-group-dpj3-eKb .bitmap-copy-2-Yp9 {
  width: 22.8rem;
  height: 22.8rem;
  position: relative;
  left: 31.4rem;
  top: 0;
  background-size: 100% 100%;
  background-image: url('.../static/images/bitmap-copy-2.png');
}
.moon-1-15-yfP .oval-selector-sLd {
  margin-bottom: 7.2rem;
  width: 4rem;
  height: 0.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-nvrw-cZ7 {
  margin: 0rem 3.4rem 1.2rem 3.5rem;
  box-sizing: border-box;
  padding: 1.6rem 1.249rem 1.6rem 1.6rem;
  width: calc(100% - 6.9rem);
  display: flex;
  align-items: center;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1000000015);
  background: linear-gradient(180deg, #ffffff 0%, #e6e6e6 100%);
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-nvrw-cZ7 .select-spaceship-7km {
  margin-right: 18.2488rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.275;
  color: #171717;
  font-family: Abel, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-nvrw-cZ7 .chevron-f1b {
  margin-top: 0.0004rem;
  width: 0.5025rem;
  height: 1.0012rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-trtv-8Qy {
  box-sizing: border-box;
  padding: 3rem 4.254rem 1.2rem 4.3rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 -0.7rem 1.5rem rgba(0, 0, 0, 0.25);
  background-color: #000000;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-trtv-8Qy .group-607-rbs {
  margin-bottom: 3.5686rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-trtv-8Qy .group-607-rbs .vector-c5F {
  margin-right: 11.8rem;
  width: 2.7443rem;
  height: 2.7314rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-trtv-8Qy .group-607-rbs .vector-MHj {
  margin-right: 13rem;
  width: 4.1672rem;
  height: 2.7314rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-trtv-8Qy .group-607-rbs .group-585-gau {
  width: 2.5344rem;
  height: 2.7314rem;
  cursor: pointer;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.moon-1-15-yfP .auto-group-trtv-8Qy .line-1-px1 {
  margin-right: 0.0458rem;
  width: 15.4rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
