<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
</head>

<body>
    <div class="text">
        <a href="go_space.html" class="space">Go Space</a>
        <a href="learn_more.html" class="learn">Learn More</a>
    </div>
    <nav class="nav">
        <a href="#" class="nav_link">
            <img src="../static/images/Compass.png" alt="">
        </a>
        <a href="#" class="nav_link">
            <img src="../static/images/planet.png" alt="">
        </a>
        <a href="#" class="nav_link">
            <img src="../static/images/profile.png" alt="">
        </a>
    </nav>
</body>

</html>