<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="main_container">
        <img src="../static/images/star.svg" alt="">
       
        <img src="../static/images/moon.svg" alt="">
        <img src="../static/images/man.svg" alt="">
        <img src="../static/images/sstars.svg" alt="">
        <img src="../static/images/starts.svg" alt="">
        <h2>COSMIC X</h2>        
    </div>
    <script>
        setTimeout(function() {
            window.location.href = "/login_signup";
        }, 3000);
    </script>
</body>

</html>