<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Mars_1 - 17</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="../static/css/journey_mars.css"/>
</head>
<body>
<div class="mars1-17-BJR">
  <div class="auto-group-lx9b-X7P">
    <div class="iphone-status-bar-psB">
      <p class="time-Xmb">19:02</p>
      <img class="reception-Rry" src="../static/images/reception-7td.png"/>
      <img class="wifi-x6D" src="../static/images/wifi-ByT.png"/>
      <img class="battery-5wX" src="../static/images/battery-EVX.png"/>
    </div>
    <div class="auto-group-zlch-RVb">
      <img class="arrowleftaltfill0wght200grad-25opsz40-8-Yq7" src="../static/images/arrowleftaltfill0wght200grad-25opsz40-8-n2M.png"/>
      <div class="oval-UTs">
      </div>
    </div>
    <div class="auto-group-mlbb-nzM">
      <div class="auto-group-edw9-jeh">
        <div class="oval-fHT">
        </div>
        <div class="oval-Ak1">
        </div>
      </div>
      <div class="auto-group-h2cq-JbK">
        <div class="bitmap-Ejs">
        </div>
        <p class="dearmoon-LH7">#DearMars</p>
        <div class="origin-dn1">
          <div class="auto-group-tbe9-LAd">
            <p class="origin-gEV">Origin</p>
            
            <p class="cape-canaveral-1Xf">Cape Canaveral</p>
          </div>
          <div class="oval-kVF">
          </div>
          <img class="chevron-fs7" src="../static/images/chevron-MW1.png"/>
        </div>
        <div class="oval-wZj">
        </div>
        <div class="oval-fkd">
        </div>
        <div class="oval-znu">
        </div>
        <div class="oval-X29">
        </div>
        <div class="oval-Seu">
        </div>
        <div class="oval-yPw">
        </div>
        <div class="oval-uYV">
        </div>
        <div class="oval-3eh">
        </div>
        <div class="oval-z49">
        </div>
        <div class="oval-KcD">
        </div>
        <div class="bitmap-copy-3-fRB">
        </div>
        <div class="oval-NaV">
        </div>
        <img class="pngwing-5-7Y5" src="../static/images/pngwing-5.png"/>
      </div>
    </div>
    <div class="auto-group-1vwf-qys">
      <div class="auto-group-onem-Xbo">
        <p class="passengers-Syf">Passengers</p>
        <p class="item-1-n1w">1</p>
      </div>
      <img class="chevron-WCq" src="../static/images/chevron-wrH.png"/>
      <img class="line-qF7" src="../static/images/line-YGH.png"/>
      <div class="auto-group-ujed-BJy">
        <p class="class-7TX">Class</p>
        <p class="economy-Fpd">Business</p>
      </div>
      <img class="chevron-Pvq" src="../static/images/chevron-ZXo.png"/>
    </div>
    <a href="mars2-18.html">
    <div class="auto-group-xmsp-ftM">
      <p class="select-spaceship-mwP">Select Spaceship</p>
      <img class="chevron-unh" src="../static/images/chevron-oAq.png"/>
    </div>
  </a>
  </div>
  <div class="auto-group-3skw-adw">
    <div class="group-607-K5j">
      <img class="vector-4p1" src="../static/images/vector-7jo.png"/>
      <img class="vector-PbP" src="../static/images/vector-LQH.png"/>
      <img class="group-585-Kzq" src="../static/images/group-585-gQ9.png"/>
    </div>
    <img class="line-1-sWZ" src="REPLACE_IMAGE:34:846"/>
  </div>
</div>
</body>