<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Moon-1 - 14</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel%3A400" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400" />
  <link rel="stylesheet" href="../static/css/journey_moon.css" />
</head>

<body>
  <div class="moon-1-14-u9K">
    <div class="auto-group-12i5-nF3">
      <img class="arrowleftaltfill0wght200grad-25opsz40-7-WB3"
        src="../static/images/arrowleftaltfill0wght200grad-25opsz40-7.png" />
      <div class="oval-1db">
      </div>
    </div>
    <div class="auto-group-tfw9-XM3">
      <div class="auto-group-zzwy-3KP">
        <div class="oval-Aeu">
        </div>
        <div class="oval-gdF">
        </div>
      </div>
      <div class="auto-group-xkg1-oC5">
        <div class="bitmap-Xtm">
        </div>
        <p class="dearmoon-EHP">#DearMoon</p>
        <div class="origin-7c5">
          <div class="auto-group-4jb3-Bbw">
            <p class="origin-XQu">Origin</p>
            <p class="cape-canaveral-4Qq">Cape Canaveral</p>
          </div>
          <div class="oval-bQm">
          </div>
          <img class="chevron-hyb" src="../static/images/chevron-N3b.png" />
        </div>
        <div class="oval-Xxd">
        </div>
        <div class="oval-FNq">
        </div>
        <div class="oval-NiM">
        </div>
        <div class="oval-6uF">
        </div>
        <div class="oval-cMo">
        </div>
        <div class="oval-jxD">
        </div>
        <div class="oval-g6m">
        </div>
        <div class="oval-R4M">
        </div>
        <div class="oval-kcR">
        </div>
        <div class="oval-6AV">
        </div>
        <div class="bitmap-copy-3-dRK">
        </div>
        <div class="bitmap-copy-wgu">
        </div>
        <div class="oval-UB3">
        </div>
      </div>
    </div>
    <div class="auto-group-wrsh-bmT">
      <div class="auto-group-hhqd-gH7">
        <p class="passengers-1KP">Passengers</p>
        <p class="item-1-9Rb">1</p>
      </div>
      <img class="chevron-54M" src="../static/images/chevron-EQq.png" />
      <img class="line-zSD" src="../static/images/line.png" />
      <div class="auto-group-3eq9-jeh">
        <p class="class-fYM">Class</p>
        <p class="economy-1cD">Economy</p>
      </div>
      <img class="chevron-9Cd" src="../static/images/chevron-EhP.png" />
    </div>
    
      <div class="auto-group-mv5b-cM7">
        <a href="moon-1-15.html" style="text-decoration: none;">
        <p class="select-spaceship-iQ9">Select Spaceship</p>
        <img class="chevron-3xD" src="../static/images/chevron.png" />
        </a>
      </div>
    
    <div class="auto-group-h13x-XsP">
      <div class="group-606-3qj">
        <img class="vector-Nt1" src="../static/images/vector-SaV.png" />
        <img class="vector-v8q" src="../static/images/planet.png" />
        <img class="group-585-EvD" src="../static/images/group-585-vTj.png" />
      </div>
    </div>
  </div>
</body>