<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Jupiter-1 - 17</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel%3A400" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400" />
  <link rel="stylesheet" href="../static/css/jupiter-1-17.css" />
</head>

<body>
  <div class="jupiter-1-17-gxZ">
    <div class="auto-group-hxox-dN1">

      <div class="auto-group-wwgq-bbf">
        <img class="arrowleftaltfill0wght200grad-25opsz40-9-jC5"
          src="../static/images/arrowleftaltfill0wght200grad-25opsz40-9-stm.png" />
        <div class="auto-group-6ofw-Tds">
          <div class="months-ys7">September 2023</div>
          <img class="chevron-V4m" src="../static/images/chevron-Yyo.png" />
        </div>
      </div>
    </div>
    <div class="auto-group-55tm-QhX">
      <div class="card-3-vQy">
        <img class="line-3-qXw" src="../static/images/line-3-4gh.png" />
      </div>
      <div class="bitmap-mRb">
      </div>
      <div class="space-x-H93">
        <div class="oval-yXf">
        </div>
        <div class="auto-group-5c33-ted">
          <p class="space-x-omb">Cosmic X</p>
          <p class="m-XBo">$ 55M</p>
          <p class="cape-canaveral-j2y">Cape Canaveral</p>
          <p class="cape-canaveral-dPF">Cape Canaveral</p>
          <p class="moon-LHf">Moon</p>
          <p class="bfr-4Df">BFR</p>
          <p class="wifi-ready-n9f">Wifi ready</p>
          <p class="zero-gravity-shows-Hs7">Zero gravity shows</p>
          <p class="x-24-kgs-baggage-bcu">2 X 24 kgs baggage </p>
          <p class="for-1-iBj">for 1</p>
          <p class="leaves-at-5-30-pm-3E1">Leaves at 7:30 pm</p>
          <p class="d-4hr-MVb">2d 4hr</p>
          <p class="d-4hr-copy-5gV">2d 4hr</p>
          <p class="d-12hr-1KF">1d 12hr</p>
          <p class="arrives-at-1-30-am-vh7">Arrives at 3:30 am</p>
          <img class="suitcaseicon-SfT" src="../static/images/suitcaseicon-b6q.png" />
          <img class="line-3-yfP" src="../static/images/line-3-yLV.png" />
          <div class="bfr-house-XS1">
          </div>
          <img class="wifiicon-rDP" src="../static/images/wifiicon-aam.png" />
          <img class="xero-gravity-icon-C2M" src="../static/images/xero-gravity-icon-rcq.png" />
          <div class="oval-8Au">
          </div>
          <div class="oval-ef3">
          </div>
          <div class="oval-Bey">
          </div>
          <div class="oval-iQ1">
          </div>
          <div class="oval-qzR">
          </div>
          <div class="oval-NDf">
          </div>
          <div class="oval-i2d">
          </div>
          <div class="oval-qsw">
          </div>
          <img class="standing-up-man--n2V" src="../static/images/standing-up-man--F4m.png" />
          <p class="you-74m">you</p>
          <img class="path-3-pzm" src="../static/images/path-3-nJd.png" />
          <img class="path-4-NWV" src="../static/images/path-4-gFs.png" />
          <img class="line-5-KAq" src="../static/images/line-5-dsf.png" />
          <img class="line-4-dhK" src="../static/images/line-4-Tnh.png" />
        </div>
      </div>
      <div class="oval-Lrd">
      </div>
      <div class="dates-UC9">
        <div class="auto-group-4sww-CP3">
          <p class="item-12-7W1">12</p>
          <p class="item-13-SHP">13</p>
          <p class="item-14-Mv9">14</p>
          <p class="item-15-hDK">15</p>
          <p class="item-16-qKX">16</p>
        </div>
        <div class="auto-group-2z7t-ygd">17</div>
        <p class="item-18-UNV">18</p>
        <p class="item-19-DL5">19</p>
        <p class="item-20-9jX">20</p>
        <p class="item-21-Umo">21</p>
      </div>
      <div class="days-22d">
        <p class="t-jxd">T</p>
        <p class="w-GxZ">W</p>
        <p class="t-2B3">T</p>
        <p class="f-NEu">F</p>
        <p class="s-ukd">S</p>
        <p class="s-TGM">S</p>
        <p class="m-copy-5-12y">M</p>
        <p class="t-Yob">T</p>
        <p class="w-6q7">W</p>
      </div>
      <div class="bitmap-erd">
      </div>
      <img class="line-2-Aa5" src="../static/images/line-2-y9B.png" />
      <img class="pngwing-8-unZ" src="../static/images/pngwing-8.png" />
    </div>
    <img class="oval-selector-qw7" src="../static/images/oval-selector-4QR.png" />
    <a href="jupyter3.html">
      <div class="auto-group-kp37-b9b">
        <p class="select-spaceship-J41">Select Spacesuit</p>
        <img class="chevron-cqP" src="../static/images/chevron-Kv9.png" />
      </div>
    </a>
    <div class="auto-group-xgnu-tH7">
      <div class="group-609-QFT">
        <img class="vector-MAh" src="../static/images/vector-rKT.png" />
        <img class="vector-tgR" src="../static/images/vector-XAh.png" />
        <img class="group-585-33X" src="../static/images/group-585-113.png" />
      </div>
      <img class="line-1-aJM" src="REPLACE_IMAGE:34:1079" />
    </div>
  </div>
</body>