<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>iPhone 13 Pro Max - 17</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A300"/>
  <link rel="stylesheet" href="../static/css/learn_more.css"/>
</head>
<body>
<div class="iphone-13-pro-max-17-Rr1">
  <div class="auto-group-lir7-ZhK">
    <div class="group-607-W6m">
      <div class="auto-group-qf3f-pt9">
        <div class="auto-group-kagr-7sF">
          <img class="pngwing-10-qYM" src="../static/images/pngwing-10-wd3.png"/>
        </div>
        <div class="auto-group-pwkh-Yhf">
          <p class="travel-without-a-return-to-mars-UbK">Travel without a return to Mars</p>
          <p class="learn-more-aPT">Learn More</p>
        </div>
      </div>
      <div class="auto-group-6c2d-stM">
        <div class="auto-group-28wm-oX7">
          <img class="pngwing-11-jQm" src="../static/images/pngwing-11-eGR.png"/>
        </div>
        <div class="auto-group-a6ch-Ftu">
          <p class="travel-without-a-return-to-jupiter-ndw">Travel without a return to Jupiter</p>
          <p class="learn-more-uiZ">Learn More</p>
        </div>
      </div>
    </div>

    <p class="learn-more-space-3rh">Learn More Space?</p>
    <div class="auto-group-v99j-9uj">
      <div class="auto-group-qegy-gem">
        <div class="group-592-Qqf">
          <img class="searchfill0wght300grad-25opsz24-1-wah" src="../static/images/searchfill0wght300grad-25opsz24-1-Bay.png"/>
          <p class="search-for-planet-name-rSm">Search for planet name</p>
        </div>
      </div>
      <div class="rectangle-1333-YaV">
      </div>
    </div>
    <div class="group-606-54d">
      <p class="planet-Cuw">Planet</p>
      <p class="show-all-8Ho">Show All</p>
    </div>
    <div class="auto-group-f7km-sFP">
      <div class="auto-group-qqjs-mbf">
        <div class="bitmap-copy-Wp9">
        </div>
      </div>
      <div class="auto-group-nxwv-QuX">
        <p class="travel-without-a-return-to-moon-8qX">Travel without a return to Moon</p>
        <p class="learn-more-3xV">Learn More</p>
      </div>
    </div>
    <div class="auto-group-med7-NE5">
      <div class="auto-group-ejqm-GaM">
        <img class="pngwing-13-e57" src="../static/images/pngwing-13-CHo.png"/>
      </div>
      <div class="auto-group-xgau-wa1">
        <p class="travel-without-a-return-to-saturn-4uX">Travel without a return to Saturn</p>
        <p class="learn-more-ymb">Learn More</p>
      </div>
    </div>
    <img class="microphone-off-Vzq" src="../static/images/microphone-off.png"/>
    <img class="arrowleftaltfill0wght200grad-25opsz40-13-2zm" src="../static/images/arrowleftaltfill0wght200grad-25opsz40-13.png"/>
  </div>
  <div class="auto-group-sbgm-9Jh">
    <img class="vector-GPK" src="../static/images/vector-Ktu.png"/>
    <div class="auto-group-asqv-bAh">
      <img class="vector-vyf" src="../static/images/vector-4Wd.png"/>
      <img class="line-1-fRT" src="REPLACE_IMAGE:64:1259"/>
    </div>
    <img class="group-585-DSy" src="../static/images/group-585-AZw.png"/>
  </div>
</div>
</body>