<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Mars Home</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A600" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel%3A400" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600" />
  <link rel="stylesheet" href="../static/css/mars.css" />
</head>

<body>
  <div class="mars-home-bgd">
    <div class="auto-group-bvah-x1P">
      <img class="rocket-1-gxy" src="../static/images/rocket-1-pau.png" />
      <a href="mars1.html">
        <div class="group-614-SDP">
          <img class="rain-1-8ru" src="../static/images/rain-1-Qm7.png" />
          <p class="w-HE1">Weather</p>
        </div>
      </a>
      <div class="group-618-bVb">
        <img class="clock-1-tzV" src="../static/images/clock-1-hBo.png" />
        <p class="time-DG5">Time Zone</p>
      </div>
      <div class="group-617-Kpu">
        <img class="distance-1-pWm" src="../static/images/distance-1-uiR.png" />
        <p class="distance-YxZ">Distance</p>
      </div>
      <img class="pngwing-7-NAu" src="../static/images/pngwing-7-GFT.png" />
      <img class="arrowleftaltfill0wght200grad-25opsz40-12-hU5"
        src="../static/images/arrowleftaltfill0wght200grad-25opsz40-12.png" />
    </div>
    <div class="auto-group-cpch-Cvd">
      <div class="group-613-ie5">
        <img class="wind-1-3RT" src="../static/images/wind-1-vuw.png" />
        <p class="atmosphere-BGm">Air Space</p>
      </div>
      <div class="group-616-Umf">
        <img class="mission-1-QQR" src="../static/images/mission-1-9Pw.png" />
        <p class="mission-wQM">Mission</p>
      </div>
      <a href="mars2.html">
        <div class="group-615-2Ro">
          <img class="light-bulb-1-Yuw" src="../static/images/light-bulb-1-E5f.png" />
          <p class="facts-9uj">Facts</p>
        </div>
      </a>
    </div>
    <div class="auto-group-wdpd-4G1">
      <div class="group-603-PJH">
        <img class="vector-wKo" src="../static/images/vector-nTK.png" />
        <img class="vector-sDT" src="../static/images/vector-u8D.png" />
        <img class="group-585-p8h" src="../static/images/group-585-o21.png" />
      </div>
      <img class="line-1-9wf" src="REPLACE_IMAGE:62:872" />
    </div>
  </div>
</body>