<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Mars Weather </title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=%3F%3F%3F%3F%3F%3A400"/>
  <link rel="stylesheet" href="../static/css/mars2.css"/>
</head>
<body>
<div class="mars-weather--Ykh">
  <div class="auto-group-xre1-hNh">
    <img class="arrowleftaltfill0wght200grad-25opsz40-11-dJH" src="../static/images/arrowleftaltfill0wght200grad-25opsz40-11-j8D.png"/>
    <div class="frame-15-8Vw">
      <div class="auto-group-7tch-3cu">
        <img class="pngwing-6-BDK" src="../static/images/pngwing-6-djo.png"/>
        <div class="cloudy-hxM">Cloudy</div>
        <div class="item-3-DA1">3°</div>
        <div class="feels-like-2-VNR">Feels like -2°</div>
        <div class="mars-aem">Mars</div>
        <img class="search-t9f" src="../static/images/search-rMf.png"/>
      </div>
      <div class="auto-group-8c7b-Cw3">
        <div class="january-18-16-14-xvD">January 18, 16:14</div>
        <div class="day-3-night-1-fZj">
        Day 3°
        <br/>
        Night -1°
        </div>
      </div>
    </div>
    <div class="group-598-YtR">
      <div class="auto-group-i1cd-G3j">Today</div>
      <div class="auto-group-am1b-YG9">Tomorrow</div>
      <div class="auto-group-4haq-pzM">10 days</div>
    </div>
    <div class="group-600-hHT">
      <div class="auto-group-c6ss-RDT">
        <img class="group-14-8tZ" src="../static/images/group-14-aE5.png"/>
        <div class="auto-group-hcrd-daR">
          <p class="subhead-kf3">Wind speed</p>
          <p class="header-4vd">12km/h</p>
        </div>
        <p class="km-h-yGu">2 km/h</p>
      </div>
      <div class="auto-group-7vru-5Kw">
        <img class="group-17-omj" src="../static/images/group-17-2ZX.png"/>
        <div class="group-11-vrM">
          <p class="header-gad">24%</p>
          <p class="subhead-o9T">Rain chance</p>
        </div>
        <p class="item-10-vE5">10%</p>
      </div>
    </div>
    <div class="group-601-RRj">
      <div class="auto-group-z1ms-A8R">
        <img class="group-28-HTw" src="../static/images/group-28-jAy.png"/>
        <div class="auto-group-uyg1-QYZ">
          <p class="subhead-xa5">Pressure</p>
          <p class="header-tCq">720 hpa</p>
        </div>
        <p class="hpa-FBo">32 hpa</p>
      </div>
      <div class="auto-group-13iz-92H">
        <img class="group-15-G6u" src="../static/images/group-15-6ZF.png"/>
        <div class="auto-group-abjy-nqw">
          <p class="subhead-LsT">UV Index</p>
          <p class="header-s6h">2,3</p>
        </div>
        <p class="item-03-mSy">0.3</p>
      </div>
    </div>
    <div class="group-27-sW1">
      <div class="group-18-281">
        <div class="group-9-yZ3">
          <div class="group-3-gCZ">
            <div class="now-dNh">Now</div>
            <div class="item-10-weH">10°</div>
          </div>
          <div class="group-4-Sqw">
            <div class="am-oAh">
              <span class="am-oAh-sub-0">10</span>
              <span class="am-oAh-sub-1">AM</span>
            </div>
            <div class="item-8-ngq">8°</div>
          </div>
          <div class="group-5-uWZ">
            <div class="am-dxM">
              <span class="am-dxM-sub-0">11</span>
              <span class="am-dxM-sub-1">AM</span>
            </div>
            <div class="item-5-U5o">5°</div>
          </div>
          <div class="group-6-BF7">
            <div class="pm-L81">
              <span class="pm-L81-sub-0">12</span>
              <span class="pm-L81-sub-1">PM</span>
            </div>
            <div class="item-12-fJh">12°</div>
          </div>
          <div class="group-7-neD">
            <div class="pm-jpM">
              <span class="pm-jpM-sub-0">1</span>
              <span class="pm-jpM-sub-1">PM</span>
            </div>
            <div class="item-9-4VF">9°</div>
          </div>
          <div class="group-23-sSh">
            <div class="pm-dRs">
              <span class="pm-dRs-sub-0">2</span>
              <span class="pm-dRs-sub-1">PM</span>
            </div>
            <div class="item-12-k97">12°</div>
          </div>
        </div>
        <div class="group-599-fms">
          <img class="group-C17" src="../static/images/group-jAH.png"/>
          <img class="cloud-vho" src="../static/images/cloud-cxh.png"/>
          <img class="cloud-r5f" src="../static/images/cloud-Xhj.png"/>
          <img class="group-mTX" src="../static/images/group-whB.png"/>
          <img class="group-hMB" src="../static/images/group-Ni5.png"/>
          <img class="cloud-2PT" src="../static/images/cloud-FP7.png"/>
        </div>
      </div>
    </div>
  </div>
  <div class="auto-group-smff-WZX">
    <div class="group-603-33f">
      <img class="vector-zUh" src="../static/images/vector-V7f.png"/>
      <img class="vector-L2m" src="../static/images/vector-me1.png"/>
      <img class="group-585-soP" src="../static/images/group-585-7x5.png"/>
    </div>
  </div>
</div>
</body>