<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Mars About</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A300"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik+Mono+One%3A400"/>
  <link rel="stylesheet" href="../static/css/mars1.css"/>
</head>
<body>
<div class="mars-about-Dhs">
  <div class="auto-group-w3bx-mUV">
    <div class="auto-group-po8m-VvH">
      <img class="arrowleftaltfill0wght200grad-25opsz40-11-nwK" src="../static/images/arrowleftaltfill0wght200grad-25opsz40-11-SHo.png"/>
    </div>
    <div class="auto-group-srmw-Jem">
      <p class="planet-qub">Planet </p>
      <p class="mars-LrM">
        <span class="mars-LrM-sub-0">Mar</span>
        <span class="mars-LrM-sub-1">s</span>
      </p>
      <p class="mars-is-the-fourth-planet-and-the-furthest-terrestrial-planet-from-the-sun-the-reddish-color-of-its-surface-is-due-to-finely-grained-ironiii-oxide-dust-in-the-soil-giving-it-the-nickname-the-red-planet-marss-radius-is-second-smallest-among-the-planets-in-the-solar-system-at-33895-km-NgZ">
      Mars is the fourth planet and the 
      <br/>
      furthest terrestrial planet from the Sun. The reddish color of its surface is due to finely grained iron(III) oxide dust in the soil, giving it the nickname &#34;the Red Planet&#34;. Mars&#39;s radius is second smallest among the planets in the Solar System at 3,389.5 km.
      </p>
    </div>
  </div>
  <img class="auto-group-rzxf-TrR" src="../static/images/auto-group-rzxf.png"/>
</div>
</body>