<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Mars_2 - 18</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel%3A400" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400" />
  <link rel="stylesheet" href="../static/css/mars2-18.css" />
</head>

<body>
  <div class="mars2-18-tQH">
    <div class="auto-group-fpnh-Rv1">

      <div class="auto-group-elcq-n1o">
        <img class="arrowleftaltfill0wght200grad-25opsz40-9-huT"
          src="../static/images/arrowleftaltfill0wght200grad-25opsz40-9-sCm.png" />
        <div class="auto-group-ccw3-qEy">
          <div class="months-AHF">September 2023</div>
          <img class="chevron-J25" src="../static/images/chevron-x57.png" />
        </div>
      </div>
    </div>
    <div class="auto-group-zjos-zvV">
      <div class="card-3-Wdw">
        <img class="line-3-1ah" src="../static/images/line-3-ZUD.png" />
      </div>
      <div class="bitmap-7td">
      </div>
      <div class="space-x-po3">
        <div class="oval-WQy">
        </div>
        <div class="auto-group-f2qr-QWM">
          <p class="space-x-Jrd">Cosmic X</p>
          <p class="m-Dih">$ 78M</p>
          <p class="cape-canaveral-L2d">Cape Canaveral</p>
          <p class="cape-canaveral-qk5">Cape Canaveral</p>
          <p class="moon-AGZ">Mars</p>
          <p class="bfr-5uK">BFR</p>
          <p class="wifi-ready-DVj">Wifi ready</p>
          <p class="zero-gravity-shows-XmK">Zero gravity shows</p>
          <p class="x-24-kgs-baggage-rHo">2 X 24 kgs baggage </p>
          <p class="for-1-N1F">for 1</p>
          <p class="leaves-at-5-30-pm-6T3">Leaves at 6:30 pm</p>
          <p class="d-4hr-E3T">2d 4hr</p>
          <p class="d-4hr-copy-knV">2d 4hr</p>
          <p class="d-12hr-nDP">1d 12hr</p>
          <p class="arrives-at-1-30-am-S33">Arrives at 2:30 am</p>
          <img class="suitcaseicon-Ybs" src="../static/images/suitcaseicon-JgR.png" />
          <img class="line-3-UkR" src="../static/images/line-3-PHs.png" />
          <div class="bfr-house-Rff">
          </div>
          <img class="wifiicon-YVP" src="../static/images/wifiicon-eDP.png" />
          <img class="xero-gravity-icon-fpu" src="../static/images/xero-gravity-icon-gos.png" />
          <div class="oval-zcH">
          </div>
          <div class="oval-X6R">
          </div>
          <div class="oval-reV">
          </div>
          <div class="oval-PeR">
          </div>
          <div class="oval-86D">
          </div>
          <div class="oval-TeH">
          </div>
          <div class="oval-nwT">
          </div>
          <div class="oval-LCH">
          </div>
          <img class="standing-up-man--Grd" src="../static/images/standing-up-man--SCH.png" />
          <p class="you-Qhw">you</p>
          <img class="path-3-Kpu" src="../static/images/path-3-HWZ.png" />
          <img class="path-4-f85" src="../static/images/path-4-dbf.png" />
          <img class="line-5-QLZ" src="../static/images/line-5-Fr1.png" />
          <img class="line-4-KyK" src="../static/images/line-4-uMB.png" />
        </div>
      </div>
      <div class="oval-2sj">
      </div>
      <div class="dates-koj">
        <div class="auto-group-mxzt-Ujj">
          <p class="item-12-Q7b">12</p>
          <p class="item-13-jQm">13</p>
          <p class="item-14-f3X">14</p>
          <p class="item-15-BXf">15</p>
          <p class="item-16-uiZ">16</p>
        </div>
        <div class="auto-group-yeqf-FXX">17</div>
        <p class="item-18-977">18</p>
        <p class="item-19-HDK">19</p>
        <p class="item-20-cFb">20</p>
        <p class="item-21-wHs">21</p>
      </div>
      <div class="days-shK">
        <p class="t-QBT">T</p>
        <p class="w-kFK">W</p>
        <p class="t-6a5">T</p>
        <p class="f-da1">F</p>
        <p class="s-BbX">S</p>
        <p class="s-8mf">S</p>
        <p class="m-copy-5-gHP">M</p>
        <p class="t-1aZ">T</p>
        <p class="w-Zc5">W</p>
      </div>
      <div class="bitmap-WnD">
      </div>
      <img class="line-2-RuB" src="../static/images/line-2-vk1.png" />
      <img class="pngwing-6-NpR" src="../static/images/pngwing-6.png" />
    </div>
    <img class="oval-selector-i7b" src="../static/images/oval-selector-zL1.png" />
    <a href="mars3.html">
      <div class="auto-group-qdf7-4BT">
        <p class="select-spaceship-xnd">Select Spacesuit</p>
        <img class="chevron-6tq" src="../static/images/chevron-PAR.png" />
      </div>
    </a>
    <div class="auto-group-hy7b-NLZ">
      <div class="group-608-h7w">
        <img class="vector-3Sh" src="../static/images/vector-JnV.png" />
        <img class="vector-nfB" src="../static/images/vector-hxm.png" />
        <img class="group-585-8j3" src="../static/images/group-585-iC9.png" />
      </div>
      <img class="line-1-fiy" src="REPLACE_IMAGE:34:891" />
    </div>
  </div>
</body>