<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Moon Weather</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=%3F%3F%3F%3F%3F%3A400"/>
  <link rel="stylesheet" href="../static/css/moon2.css"/>
</head>
<body>
<div class="moon-weather-KXX">
  <div class="auto-group-j5jf-Ttd">
    
    <div class="frame-15-PZK">
      <div class="auto-group-exay-tW5">
        <div class="bitmap-copy-3-2MP">
        </div>
        <div class="cloudy-jWh">Cloudy</div>
        <img class="cloud-and-sun-1-SR7" src="../static/images/cloud-and-sun-1.png"/>
        <div class="feels-like-2-Zkd">Feels like -2°</div>
        <div class="kharkiv-ukraine-qi9">Kharkiv, Ukraine</div>
        <img class="search-Z8M" src="../static/images/search.png"/>
        <img class="vector-tgR" src="../static/images/vector-rP3.png"/>
        <div class="item-3-2Xj">3°</div>
      </div>
      <div class="auto-group-coop-ivM">
        <div class="january-18-16-14-5W1">January 18, 16:14</div>
        <div class="day-3-night-1-nfK">
        Day 3°
        <br/>
        Night -1°
        </div>
      </div>
    </div>
    <div class="group-598-GKb">
      <div class="auto-group-oug1-BSZ">Today</div>
      <div class="auto-group-m22d-eb3">Tomorrow</div>
      <div class="auto-group-3nmp-Xuj">10 days</div>
    </div>
    <div class="group-600-QTj">
      <div class="auto-group-xmpx-8uX">
        <img class="group-14-42V" src="../static/images/group-14.png"/>
        <div class="auto-group-sh2h-Nos">
          <p class="subhead-6zm">Wind speed</p>
          <p class="header-pQy">12km/h</p>
        </div>
        <p class="km-h-vyo">2 km/h</p>
      </div>
      <div class="auto-group-6bdt-cbj">
        <img class="group-17-jwF" src="../static/images/group-17.png"/>
        <div class="group-11-sGm">
          <p class="header-pC1">24%</p>
          <p class="subhead-tBs">Rain chance</p>
        </div>
        <p class="item-10-Bwf">10%</p>
      </div>
    </div>
    <div class="group-601-Hzh">
      <div class="auto-group-h4ft-pjj">
        <img class="group-28-x5F" src="../static/images/group-28.png"/>
        <div class="auto-group-sn5f-5vZ">
          <p class="subhead-RzR">Pressure</p>
          <p class="header-MNH">720 hpa</p>
        </div>
        <p class="hpa-TgD">32 hpa</p>
      </div>
      <div class="auto-group-bho7-mB7">
        <img class="group-15-JB3" src="../static/images/group-15.png"/>
        <div class="auto-group-wpo3-RmT">
          <p class="subhead-aeM">UV Index</p>
          <p class="header-78V">2,3</p>
        </div>
        <p class="item-03-DxD">0.3</p>
      </div>
    </div>
    <div class="group-27-83b">
      <div class="group-18-gqo">
        <div class="group-9-dW9">
          <div class="group-3-kKs">
            <div class="now-uCm">Now</div>
            <div class="item-10-RS1">10°</div>
          </div>
          <div class="group-4-Xzq">
            <div class="am-VAy">
              <span class="am-VAy-sub-0">10</span>
              <span class="am-VAy-sub-1">AM</span>
            </div>
            <div class="item-8-s53">8°</div>
          </div>
          <div class="group-5-yds">
            <div class="am-7EH">
              <span class="am-7EH-sub-0">11</span>
              <span class="am-7EH-sub-1">AM</span>
            </div>
            <div class="item-5-cqF">5°</div>
          </div>
          <div class="group-6-LWM">
            <div class="pm-gq7">
              <span class="pm-gq7-sub-0">12</span>
              <span class="pm-gq7-sub-1">PM</span>
            </div>
            <div class="item-12-DiZ">12°</div>
          </div>
          <div class="group-7-Xz9">
            <div class="pm-HyK">
              <span class="pm-HyK-sub-0">1</span>
              <span class="pm-HyK-sub-1">PM</span>
            </div>
            <div class="item-9-Ciu">9°</div>
          </div>
          <div class="group-23-vuo">
            <div class="pm-J1F">
              <span class="pm-J1F-sub-0">2</span>
              <span class="pm-J1F-sub-1">PM</span>
            </div>
            <div class="item-12-pNu">12°</div>
          </div>
        </div>
        <div class="group-599-Ls3">
          <img class="group-f8d" src="../static/images/group-KFF.png"/>
          <img class="cloud-nU9" src="../static/images/cloud-BsX.png"/>
          <img class="cloud-v4Z" src="../static/images/cloud.png"/>
          <img class="group-Sob" src="../static/images/group.png"/>
          <img class="group-a97" src="../static/images/group-2D7.png"/>
          <img class="cloud-793" src="../static/images/cloud-whK.png"/>
        </div>
      </div>
    </div>
  </div>
  <div class="auto-group-53y5-ba1">
    <div class="group-603-JzD">
      <img class="vector-TcD" src="../static/images/vector-Z3w.png"/>
      <img class="vector-CZo" src="../static/images/vector-zrm.png"/>
      <img class="group-585-8yF" src="../static/images/group-585-Gvd.png"/>
    </div>
    <img class="line-3-HLM" src="REPLACE_IMAGE:195:524"/>
  </div>
</div>
</body>