<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Moon About</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A300"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik+Mono+One%3A400"/>
  <link rel="stylesheet" href="../static/css/moon1.css"/>
</head>
<body>
<div class="moon-about-WAD">
  <div class="auto-group-dxxo-FNh">
    <div class="auto-group-dur7-BXF">
      <div class="iphone-status-bar-KNZ">
        <p class="time-STB">19:02</p>
        <img class="reception-Mq3" src="../static/images/reception-sHj.png"/>
        <img class="wifi-61w" src="../static/images/wifi-LB3.png"/>
        <img class="battery-1ub" src="../static/images/battery-fJy.png"/>
      </div>
      <div class="bitmap-copy-2-ZAR">
      </div>
      <img class="arrowleftaltfill0wght200grad-25opsz40-11-GKj" src="../static/images/arrowleftaltfill0wght200grad-25opsz40-11.png"/>
    </div>
    <div class="auto-group-tyqy-P9T">
      <p class="moon-ixR">
        <span class="moon-ixR-sub-0">Moo</span>
        <span class="moon-ixR-sub-1">N</span>
      </p>
      <p class="the-moon-earths-natural-satellite-orbits-at-an-average-distance-of-238855-miles-384400-km-it-lacks-an-atmosphere-and-experiences-extreme-temperature-variations-the-moons-gravitational-pull-influences-earths-tides-and-has-been-explored-by-astronauts-during-the-apollo-missions-SvM">The Moon, Earth&#39;s natural satellite, orbits at an average distance of 238,855 miles (384,400 km). It lacks an atmosphere and experiences extreme temperature variations. The Moon&#39;s gravitational pull influences Earth&#39;s tides and has been explored by astronauts during the Apollo missions.</p>
      <p class="planet-Qkh">Planet </p>
    </div>
  </div>
  <img class="auto-group-hg65-tQy" src="../static/images/auto-group-hg65.png"/>
</div>
</body>