<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Moon-1 - 15</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel%3A400" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400" />
  <link rel="stylesheet" href="../static/css/moon-1-15.css" />
</head>

<body>
  <div class="moon-1-15-yfP">
    <div class="auto-group-sged-Vtd">
      <div class="auto-group-deg9-SL1">
        <img class="arrowleftaltfill0wght200grad-25opsz40-8-Mhs"
          src="../static/images/arrowleftaltfill0wght200grad-25opsz40-8-dyj.png" />
        <div class="auto-group-bwqm-gVF">
          <div class="months-cth">September 2023</div>
          <img class="chevron-KHK" src="../static/images/chevron-SoT.png" />
        </div>
      </div>
    </div>
    <div class="auto-group-dpj3-eKb">
      <div class="card-3-Mzh">
        <img class="line-3-4u7" src="../static/images/line-3.png" />
      </div>
      <div class="bitmap-zXs">
      </div>
      <div class="space-x-657">
        <div class="oval-BcM">
        </div>
        <div class="auto-group-xizm-6DX">
          <p class="space-x-o7w">Cosmic X</p>
          <p class="m-W2M">$ 48M</p>
          <p class="cape-canaveral-2Fb">Cape Canaveral</p>
          <p class="cape-canaveral-jfo">Cape Canaveral</p>
          <p class="moon-Fu3">Moon</p>
          <p class="bfr-BXo">BFR</p>
          <p class="wifi-ready-JsK">Wifi ready</p>
          <p class="zero-gravity-shows-dPo">Zero gravity shows</p>
          <p class="x-24-kgs-baggage-97F">2 X 24 kgs baggage </p>
          <p class="for-1-s3F">for 1</p>
          <p class="leaves-at-5-30-pm-C5X">Leaves at 5:30 pm</p>
          <p class="d-4hr-JeM">2d 4hr</p>
          <p class="d-4hr-copy-dAq">2d 4hr</p>
          <p class="d-12hr-Y2u">1d 12hr</p>
          <p class="arrives-at-1-30-am-TQm">Arrives at 1:30 am</p>
          <img class="suitcaseicon-kuf" src="../static/images/suitcaseicon.png" />
          <img class="line-3-FbX" src="../static/images/line-3-FwF.png" />
          <div class="bfr-house-n5f">
          </div>
          <img class="wifiicon-HHK" src="../static/images/wifiicon.png" />
          <img class="xero-gravity-icon-cqP" src="../static/images/xero-gravity-icon.png" />
          <div class="oval-Yyw">
          </div>
          <div class="oval-HRj">
          </div>
          <div class="oval-pRf">
          </div>
          <div class="oval-9D3">
          </div>
          <div class="oval-H4M">
          </div>
          <div class="oval-ooP">
          </div>
          <div class="oval-YW5">
          </div>
          <div class="oval-Ued">
          </div>
          <img class="standing-up-man--R45" src="../static/images/standing-up-man-.png" />
          <p class="you-YuP">you</p>
          <img class="path-3-fUD" src="../static/images/path-3.png" />
          <img class="path-4-cPT" src="../static/images/path-4.png" />
          <img class="line-5-ZJh" src="../static/images/line-5.png" />
          <img class="line-4-Gyo" src="../static/images/line-4.png" />
        </div>
      </div>
      <div class="oval-azV">
      </div>
      <div class="dates-WNM">
        <div class="auto-group-3dpd-ptq">
          <p class="item-12-kGh">12</p>
          <p class="item-13-ss7">13</p>
          <p class="item-14-oVs">14</p>
          <p class="item-15-8o3">15</p>
          <p class="item-16-sVj">16</p>
        </div>
        <div class="auto-group-n8st-cTK">17</div>
        <p class="item-18-Vn1">18</p>
        <p class="item-19-Ejb">19</p>
        <p class="item-20-MpD">20</p>
        <p class="item-21-tp9">21</p>
      </div>
      <div class="days-1tm">
        <p class="t-8yP">T</p>
        <p class="w-tBs">W</p>
        <p class="t-2os">T</p>
        <p class="f-P8d">F</p>
        <p class="s-jCV">S</p>
        <p class="s-Ufs">S</p>
        <p class="m-copy-5-2xH">M</p>
        <p class="t-nRf">T</p>
        <p class="w-YQq">W</p>
      </div>
      <div class="bitmap-Vay">
      </div>
      <img class="line-2-D1B" src="../static/images/line-2.png" />
      <div class="bitmap-copy-2-Yp9">
      </div>
    </div>
    <img class="oval-selector-sLd" src="../static/images/oval-selector.png" />
    <a href="moon3.html" style="text-decoration: none;">
      <div class="auto-group-nvrw-cZ7">
        <p class="select-spaceship-7km">Select Spacesuit</p>
        <img class="chevron-f1b" src="../static/images/chevron-op5.png" />
      </div>
    </a>
    <div class="auto-group-trtv-8Qy">
      <div class="group-607-rbs">
        <img class="vector-c5F" src="../static/images/vector-WFs.png" />
        <img class="vector-MHj" src="../static/images/vector-gfb.png" />
        <img class="group-585-gau" src="../static/images/group-585.png" />
      </div>
      <img class="line-1-px1" src="REPLACE_IMAGE:34:605" />
    </div>
  </div>
</body>