<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/moon3.css">
</head>
<body>
    <img src="../static/images/Moon_2.png" alt="">
    <nav class="nav">
        <a href="#" class="nav_link">
            <img src="../static/images/Compass.png" alt="">
        </a>
        <a href="#" class="nav_link">
            <img src="../static/images/planet.png" alt="">
        </a>
        <a href="#" class="nav_link">
            <img src="../static/images/profile.png" alt="">
        </a>
    </nav>
    <script>
        setTimeout(function() {
            window.location.href = "/moon.html";
        }, 3000);
    </script>
</body>
</html>