<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Profile</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C700%2C800"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A400%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A800"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans%3A400%2C700"/>
  <link rel="stylesheet" href="../static/css/profile.css"/>
</head>
<body>
<div class="profile-rWu">
  <div class="auto-group-o9fw-1Po">
    
    <div class="auto-group-zbkf-B5K">
      <img class="arrowleftaltfill0wght200grad-25opsz40-9-HPF" src="../static/images/arrowleftaltfill0wght200grad-25opsz40-9-DWq.png"/>
      <img class="christian-buehner-ditylc26zvi-unsplash-1-1KF" src="../static/images/christian-buehner-ditylc26zvi-unsplash-1-zYh.png"/>
    </div>
    <p class="shakib-hossain-Jp9">Shakib Hossain</p>
    <p class="personal-info-cpq">Personal Info</p>
    <div class="auto-group-bva9-wcD">
      <p class="about-me-dV3">About Me</p>
      <div class="auto-group-wahp-Mvq">
        <p class="james-bond-is-a-results-driven-marketing-manager-with-a-passion-for-leveraging-innovative-strategies-to-drive-brand-growth-and-customer-engagement-in-the-ever-evolving-digital-landscape-WYq">James Bond is a results-driven Marketing Manager with a passion for leveraging innovative strategies to drive brand growth and customer engagement in the ever-evolving digital landscape.</p>
        <div class="line-1-9Lu">
        </div>
      </div>
      <p class="feel-free-to-reach-me-out-for-any-specific-queries-Ue5">Feel free to reach me out for any specific queries.</p>
    </div>
    <div class="auto-group-wtch-LRP">
      <p class="contact-here-q7F">Contact Here</p>
      <div class="auto-group-fzpd-A9X">
        <img class="icon-call-gdf" src="../static/images/icon-call-Z9B.png"/>
        <p class="item-92-1234567890-1vq">+92 1234567890</p>
      </div>
      <div class="line-2-8kZ">
      </div>
      <div class="auto-group-ehvr-H7f">
        <img class="icon-mail-D1K" src="../static/images/icon-mail-Rw7.png"/>
        <p class="jamesbond89gmailcom-Xnh">jamesbond89@gmail.com</p>
      </div>
      <div class="auto-group-leks-Fih">
        <img class="icon-location-sharp-oER" src="../static/images/icon-location-sharp-6JV.png"/>
        <p class="street-2-house-05-motarway-route-road-usa-81o">Street 2, house #05, Motarway Route Road, USA.</p>
      </div>
    </div>
  </div>
  <img class="auto-group-1hnq-z41" src="../static/images/auto-group-1hnq.png"/>
</div>
</body>