<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
</head>

<body>
    <div class="login_page_main_container">
        <div class="top_session">
            <!-- <img src="../static/images/moon1.svg" alt=""> -->
        </div>
        <div class="bottom_session">
            <div>
                <!-- <p>Welcome Travelers</p> -->
                <!-- <img src="../static/images/mail.svg" alt=""> -->
                <form action="/signup_success" method="post">
                    <input type="text" placeholder="Name" name="name">
                    <input type="email" placeholder="Email" name="email">
                    <input type="password" placeholder='Password' name="password">
                    <a href="#">
                        <p class="forgot">Forgot Password?</p>
                    </a>

            </div>
            <div class="login_signup_button">

                <a href="#"><button class="login">Sign Up</button></a>

                <span class="or">or</span>
                <a href="login.html"><button class="signup">Log In</button></a>

            </div>
            </form>
        </div>
    </div>

</body>

</html>